<nav>
    
    <a routerLink="/dashboard">Home page</a>

    <a routerLink="/logistics">Logistics</a>

    <a routerLink="/WarehouseManagement">Warehouse Management</a>

    <a routerLink="/planning-dashboard">Planning</a>

    <a routerLink="/admin-dashboard">Administrator dashboard</a>

    <a routerLink="/redeViaria3D">Distribution Network</a>

    <a routerLink="/redeViariaAutomatica3D">Automatic Distribution Network</a>

    <button type="submit" (click)="signOfWithFB()">Logout</button>

</nav>