<app-nav-bar></app-nav-bar>
  <br>
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter" (keyup)="Filterchange($event)">
    </mat-form-field>
  <table mat-table matSort [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="armazens">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.armazens}} </td>
      </ng-container>

      <!-- Actions Column -->
      <!--<ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"><button>Edit</button></td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="truckRegistration">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Truck Registration </th>
        <td mat-cell *matCellDef="let element"> {{element.truckRegistration}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="heuristica">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Heuristic </th>
        <td mat-cell *matCellDef="let element"> {{element.heuristica}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButton>
    </mat-paginator>
    <br>
  </div>
  <button type="button" (click)="goBack()">Return</button>