<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="column">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <img  class="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Isep-logo.png/800px-Isep-logo.png"
        alt="isep logo">
        <br>
        <br>
        <style>
          .box {
            width: 250px;
            height: 300px;
            margin: 0 auto; /* this will center the box */
            background-color: #cccccc;
            box-shadow: 5px 5px 5px grey;
            text-align: center;
          }

          .division {
            width: 100%;
            height: 15%;
            border: 1px solid black;
            background-color: #c14a09;
          }
        </style>

<div class = "box">
  <div class="division">
    <strong>Made by: Group 41</strong>
    <br>
    <strong>LAPR5 2022/2023</strong>
    <br>
    <br>
  </div>
  <br>
  <strong>Authors:</strong>
  <br>
<p></p>
✎André Teixeira - 1190384
<br>
<br>
✎Ivo Oliveira - 1190679
<br>
<br>
✎João Miranda - 1201197
<br>
<br>
✎Miguel Macedo - 1201199
<br>
<br>
✎Mário Cardoso - 1201496
</div>
      </div>
